@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Eco,' 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  
}
.site-container {
height: 100%;

}
main {
  flex-grow: 1;
}

.header{
  margin-bottom:96px
}
.headerName {
  color:#f0c040;
  font-style: italic;
  font-size: 32px;
  margin-left: 32px;
  margin-top: 18px;
}
.black{
  color:#eee;
  font-style: normal !important
}
.green{
  color:chartreuse;
  margin-right:2px;
  font-style: normal !important;
}
.red{
  color:red;
  font-style: normal !important
}
.product-catalog{
  font-style: italic;
  text-align: center;
  color:#4e54c8;
  margin-bottom:40px;
   }
   
.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
}

.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 400px;

}
.img-thumbnail {
  height: 240px;
}
.signin {
  margin: 0 12px;
  font-size: 20px;
}
/* SIGN IN BG ANIMATION */
.signin-bg {
   height: 100vh; 
   }
.small-container {
  max-width: 500px;
  padding-bottom:1rem;
  
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #625c5c;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  max-height: 100vh;
  position: absolute;
  left: -300px;
  background-color:#191970;
  transition: 0.5s;
}
.info{
  display: flex;
  align-items: center;
  justify-content:center ;
  font-size:16px;
 background-color:transparent;
 margin: 18px;
border-radius: 6px;
}
.top {
  margin-top: 96px;
}
.sub-header{
display: flex;
align-items: center;
justify-content:space-evenly;
height:60px ;
width:100vw;
background: rgba(255, 255, 255, 0.97);
box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
}
.display-page{
  height: 100%;
  max-width: 100%;
  background: linear-gradient(to right top,#00008B,#20B2AA,#191970);
  margin:0 12px;
}
.welcome-text{
  font-size: 60px;
  color:#FDF5E6;
  font-style:oblique;
margin-bottom: 96px;
}
.header-first-letter {
  font-size: 96px;
}
.discription-text {
  font-size:32px;
  line-height: 1.4;
  color:#00FFFF;
}
.header-item{
font-size:32px;
color:inherit;
}
.header-item{
  font-size:28px ;
  color:inherit;
}
.item-list {
  font-size: 24px;
  color:#F5FFFA;
}
.list-aprostophy{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  font-size: bold;
  color: navy;
  margin-bottom:18px;  
}
.btn-shop {
  padding: 8px 32px;
  width:280px;
  background-color:green;
  border:none;
  border-radius: 9px;
  margin:30px 0;
  font-size:24px;
  color:#40E0D0;
}
.btn-shop:link .btn-shop:visited {
  /* background: #eee; */
  color:#f08000;
}
.btn-shop:hover, .btn-shop:active {
 background-color: #0000;
 border:2px solid lightgreen;
 color:#fff;
}

.sub-header-title {
  display: flex;
  align-items: center;
  margin-right: 40px;

}
.header-title{
  background-color:#00008B;
  padding: 4px 16px;
  border: none;
  margin-left:28px;
  border-radius: 20px;
  font-size: 16px;;
  color:#00FFFF
  }
  #basic-nav-dropdown,
  #admin-nav-dropdown{
    color:#eee;
    font-size: 18px;
    margin:6px

  }
  #admin-nav-dropdown:link,
  #basic-nav-dropdown:link,
  #admin-nav-dropdown:visited,
  #basic-nav-dropdown:visited{
    background-color:transparent;
    transition: all 0.3s;
}

#admin-nav-dropdown:hover,
#basic-nav-dropdown:hover{
  background-color:#00008B;
  border:3px double #F5FFFA;
  color:#40E0D0;
}
.header-title:link, .info:visited{
  color:#fff;
  transition: all 0.3s;
}
 .header-title:hover,
 .header-title:active {
background-color:#ffffff;
color:#000000
}

/* display amimation */
.slide-in {
  animation: slide-in-left 0.5s ease-in-out;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
.form{
  display:block;
  display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 96px;


}

.image-flex {
  display:flex;
  flex-wrap: wrap;
  }
    .image-contaner {
    display: grid;
      grid-template-columns: 1fr 1fr;
    }
.image {
  height: 300px;
  width: 300px;
  margin:10px;
  border-radius: 9px;

  }
/* fOOTER ANIMATION*/
.footer {
  width:100vw;
  background:#eee;
}
.grid--footer{
  display:flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
   margin-bottom: 28px;
}
.footer-header{
  font-weight: bold;
margin: 24px 0 18px 0;
}

 #copyright {
 text-align: center;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.icon{
  height: 28px;
  width: 28px; 
  display: flex;
  align-items: center;
justify-content:center;
/* margin: 10px; */
}
.search-form {
width:600px;
text-align: center;
/* position:absolute;
left: 30% */
}
.image-list{
  height:700px
}
li{
  list-style: none;
  }
  
  .logo h1{
    font-size:24px;
    text-align: center;
    color:#f0c040;
  }
  
  a {
    text-decoration: none;
    color:blue;
  }
  .wave {
    position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 200px;
      background-color:#3E606F;
      font-family: Roboto;
      overflow: hidden;
    color:#fff;
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        min-width: 200vw;
        min-height: 200vw;
        background-color: #FCFFF5;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    
      &:before {
        bottom: 15vh;
        border-radius: 45%;
        animation-duration: 5s;
      }
    
      &:after {
        bottom: 12vh;
        opacity: .5;
        border-radius: 47%;
        animation-duration: 5s;
      }
    }
    
    @keyframes rotate {
      0% {
        transform: translate(-50%, 0) rotateZ(0deg);
      }
    
      50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
      }
    
      100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
      }
    }
    

      @media (min-width:44em) {
        .grid--footer{
          display:grid;
          column-count:2 / -1;

          }
        }
      @media (min-width:44em) {
        .grid--footer{
          display:flex;
          flex-direction:row;
        }
          .search-form{
          width:3cap;
          margin-right:20px
          }
      }
    @media(max-width: 34em) {
      .grid--footer{
        display : grid;
        column-count: 1
        }
      .search-form {
        width:250px
      
      }
    }
 
    
  